* {
    margin: 0;
}

body {
    background: linear-gradient(rgba(19, 142, 158, 0.308), rgba(5, 105, 97, 0.5)), url(https://source.unsplash.com/iG0b7gp-0Q4/);
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    background-size: cover, cover;

    font-size: 10pt;
}

header {  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 3rem;

    align-items: center;
}

.fixedHeaderContainer {
    background-color: rgba(31, 37, 37, 0.9);
}

.fixedHeaderContainer header img {
    position: fixed;
    left: 2rem;

    height: auto;
    
    padding: 5rem 0 1rem 0;
}

.logo {
    width: 8rem;
    height: 8rem;
    filter: drop-shadow(rgba(255, 255, 255, 0.15) 3px 3px 3px)
            drop-shadow(rgba(0, 0, 0, 0.2) 5px 5px 10px);
}

.headerTitleWithLogo {
    color: rgb(132, 186, 196);

    font-weight: 200;

    padding: 0 0 0 12rem;
}

.wrapper {
    margin: 0;
    padding: 0;
}

.nav-footer {
    background-color: rgba(31, 37, 37, 0.9);
}

.nav-footer > .sitemap a,
.nav-footer > .sitemap h5,
.nav-footer > .copyright {
    color: rgb(132, 186, 196);
}

.nav-footer > .sitemap h5 {
    font-weight: 900;
    text-transform: uppercase;
}

.nav-footer img {
    filter: brightness(220%)
            hue-rotate(40deg)
            drop-shadow(rgba(255, 255, 255, 0.125) 3px 3px 3px)
            drop-shadow(rgba(0, 0, 0, 0.2) 5px 5px 10px);
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
    body {
        background: linear-gradient(rgba(19, 142, 158, 0.5), rgba(5, 105, 97, 0.6)), url(https://source.unsplash.com/iG0b7gp-0Q4/);
    }
    
    header {
        height: 2.5rem;
        display: flex;
        align-items: flext-start;
    }
    
    .fixedHeaderContainer header img {
        height: auto;
        padding: 4.5rem 0 1rem 0;
    }
    
    .logo {
        width: 6rem;
        height: 6rem;
        filter: drop-shadow(rgba(255, 255, 255, 0.35) 1px 1px 3px)
                drop-shadow(rgba(0, 0, 0, 0.75) 2px 2px 2px);
    }
    
    .headerTitleWithLogo {
        color: rgb(132, 186, 196);
        font-weight: 200;
    }
    
    .nav-footer {
        background-color: rgba(31, 37, 37, 0.9);
    }
    
    .nav-footer > .sitemap a,
    .nav-footer > .sitemap h5,
    .nav-footer > .copyright {
        color: rgb(132, 186, 196);
    }
    
    .nav-footer > .sitemap h5 {
        font-weight: 900;
        text-transform: uppercase;
    }
    
    .nav-footer img {
        filter: brightness(220%)
                hue-rotate(40deg)
                drop-shadow(rgba(255, 255, 255, 0.125) 3px 3px 3px)
                drop-shadow(rgba(0, 0, 0, 0.2) 5px 5px 10px);
    }
}