.landing-container {
    padding: 0;
    color: rgb(214, 214, 214);
}

.landing-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: fill;
}

.landing-section > h2 {
    font-size: 2.5rem;
    color: white;
}

.img-section > h2 {
    text-align: center;
    width: 37rem;
}

.img-container {
    padding: 10vh 0 20vh 0;
    height: 26rem;
    width: 35rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-container > p {
    font-size: 1.35rem;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    text-shadow: rgba(0, 0, 0, 0) 1px 1px 1px;
    transition: color 1s;
}

.img-container > p:hover {
    font-size: 1.35rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
    color: white;
}

.summary-section {
    padding: 15vh 5vw 15vh 5vw;
    background-color: #333333;
}

.summary-section > h2 {
    margin-bottom: 3vh;
    width: 50vw;
    text-align: center;
}

.summary-section > p {
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    margin: 1.5rem 0 1.5rem 0;
}

.summary-section > a > button {
    margin-top: 4vh;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.25rem;
    background-color: #0b5775;
    color: white;
    border: transparent;
    border-radius: 15px;
    box-shadow: #042a3d 2px 3px 1px,
                rgba(0, 0, 0, 0.4) 5px 5px 10px,
                inset rgba(255, 255, 255, 0.25) 1px 1px 1px;
}

.everyone-title {
    margin: 0 -8% 0 0;
}

@media screen and (max-width: 1200px) {
    .landing-section {
        flex-direction: column;
    }

    .img-container {
        margin: 3vh 0 10vh 0;
        padding: 0 0 0 0;
    }

    .landing-section.everyone {
        margin: 10vh 0 0 0;
    }
}

@media screen and (max-width: 760px) {
    .landing-section > h2 {
        font-size: 1.7rem;
        width: 20rem;
    }

    .summary-section {
        padding: 7vh 7vw 7vh 7vw;
    }

    .summary-section > h2 {
        text-align: center;
    }

    .everyone-image {
        margin-bottom: -2.8vh;
    }

    .everyone-title {
        margin: 0 0 0 0;
    }

    .organize-image {
        height: 40vh;
        width: 90vw;
        margin: 0 0 0 0;
    }

    .organize > h2 {
        font-size: 1.6rem;
        margin: 0 0 7vh 0;
    }

    .services-summary > h2 {
        font-size: 1.9rem;
    }

    .design > h2 {
        margin: 0 0 3vh 0;
    }

    .design > .img-container {
        width: 107vw;
        margin: 0 0 -5vh 0;
    }

    .build > .img-container {
        width: 110vw;
        margin: 0 0 0 0;
    }

    .build > h2 {
        margin: 0 0 5vh 0;
    }

    .community {
        margin: 0 0 -9vh 0;
    }
}