.contact-container {
    padding: 0 3rem 0 3rem;
}

.contact-container > p {
    font-size: 1.5rem;
    text-align: center;
}

.contact-container > p > a {
    text-decoration: none;
    color: #22a4f1;
}