footer {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 2;

    padding: 1vh calc(1.25vh) 3vh calc(1.25vh);

    background-color: #333333;
    border-top: #1E1E1E 1px solid;
}

.sections-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: vh calc(2vh);

    background-color: #0D0D0D;
}

.sections-container > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sections-container > section > h2 {
    margin-bottom: 2vh;

    font-weight: 400;
    text-transform: uppercase;
}

.sections-container > section > a {
    margin: 1.5vh 0 1.5vh calc(1vh);

    color: #ADADAD;
}

.copywrite-container {
    margin-top: 3vh;
    text-align: center;

}

/* MOBILE */
@media screen and (max-width: 760px) {
    .sections-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10vh 0 10vh calc(18vh);
    }

    .sections-container > section {
        margin: 3vh 0 4vh 0;
    }
}