header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display:flex;
    justify-content: space-between;
    padding: 1vh calc(2vh) 1vh calc(2vh);
    height: 10vh;
    background-color: #333333;
    border-bottom: #1E1E1E 1px solid;
    color: white;
}

header > a > .header-logo {
    margin: 1vh 0 1vh 0;
    height: 8vh;
    width: calc(11.75vh);
    background-image: url('../images/color-logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(rgba(0, 0, 0, 0.75) 2px 2px 3px);
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    margin: 0 0 0 2rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: white;
}

