@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

* {
    font-family: 'Inconsolata', monospace;
    margin: 0;
}

body {
    position: absolute;
    left: 0;
    right: 0;

    font-size: 10pt;

    background-color: #1E1E1E;
    color: #ADADAD;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

button:hover {
    outline: none;
}

.app-container {
    min-height: 100vh;
    max-width: 100vw;
    background: url('../images/monotone-logo.svg'), linear-gradient(#1E1E1E, #1E1E1E);
    background-size: 40%, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-container {
    margin: 15vh 0 10vh 0;
}

/* MOBILE */
@media screen and (max-width: 760px) {
    .app-container {
        background-size: 80%, cover;
    }
}