.nav-desktop {

}

.nav-mobile {
    visibility: hidden;
}

/* MOBILE */
@media screen and (max-width: 400px) {
    .nav-desktop {
        visibility: hidden;
    }

    .nav-mobile {
        visibility: visible;
    }
}
