.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.not-found > h1 {
    font-size: 10rem;
}

.not-found > h2 {
    font-size: 3rem;
}